<h2>Order {{order.day|date}}
<span class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a ng-click="ordered()">Set status to ordered</a></li>
    <li><a ng-click="deleteOrder()">Delete order</a></li>
  </ul>
</span>
</h2>

<h4>Add position</h4>
<form name="addItemForm" class="form-inline" novalidate>
  <input type="text" name="name" id="nameField" class="input-mini" placeholder="Name" focus-on="refocus" ng-model="name" ng-minlength="2" required>
  <select name="product" ng-model="product" ng-options="p.number + ' - ' + p.name + ' (' + p.description + ')' for p in products" required></select> {{product.price | currency}}
  <label class="checkbox"><input name="paid" type="checkbox" ng-model="paid"> Paid?</label>
  <button class="btn btn-primary" ng-click="add()" ng-disabled="addItemForm.$invalid">+</button>
</form>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>No</th>
      <th>Meal</th>
      <th>Price</th>
      <th>Paid?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in order.items">
      <td>{{item.name}}</td>
      <td>{{item.product.number}}</td>
      <td><nobr>{{item.product.name}}</nobr> ({{item.product.description}})</td>
      <td>{{item.product.price | currency}}</td>
      <td><input type="checkbox" ng-model="item.paid" ng-change="paidChanged();"></td>
      <td><button class="btn btn-danger" ng-click="remove($index)">-</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Sum / Sum paid</td>
      <td>{{sum(false) | currency}}</td>
      <td>{{sum(true) | currency}}</td>
      <td></td>
    </tr>
  </tfoot>
</table>
